* {
    font-family: Helvetica;
    box-sizing: border-box;
}




.title {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("pattern.jpeg");
}